
<h1>Tattoos</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
   <% @tattoo.each do |tattoo| %>
     <tr>
       <%tattoo.images.each do |image|%>
          <%= image_tag(tattoo.images[image])%>
          <%= link_to "Remove", delete_image_attachment_post_url(@tattoo.images[image]), method: :delete_image_attachment, data: {confirm: "Are you sure?"} %>
       <%end%>
       <td><%= tattoo.title %></td>
       <td><%= tattoo.description %></td>
       <td><%= tattoo.user.username %></td>
       <td><%= link_to 'Show', tattoo%></td>
       <% if tattoo.can_edit?(current_user) %>
       <td><%= link_to 'Edit', edit_tattoo_path(tattoo)%></td>
       <td><%= link_to 'Destroy', tattoo, method: :delete, data: { confirm: 'Are you sure?' }%></td>
       <% end %>
     </tr>
   <% end %>
 </tbody>
</table>

<br>


