<section class="card">
<%= form_with(model: tattoo, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
  <p><%= image_tag(@tattoo.images[0], height: 250) if @tattoo.images.attached? %></p>
    <%= form.label :images %>
    <%= form.file_field :images %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</section>
