<section class="card">
<%= form_with(model: tattoo, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price, "Amount I will pay to have this made" %>
    <%= form.number_field :price, step: 2 %>
  </div>

  <div class="field">
    <h2>Current Image/s </h2>
    <div>
    <section id="edit-images">
           <%(0...@tattoo.images.count).each do |image|%>
          
          <%= image_tag(@tattoo.images[image]
          )%>
       <%end%>
    </section>
    
    <h2>New Image</h2>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</section>
