<h1>Tattoos#index</h1>
<p>Find me in app/views/tattoos/index.html.erb</p>


<h1>Tattoos</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
</thead>

<tbody>
   <% @tattoos.each do |tattoo| %>
     <tr>

       <td><%= tattoo.title %></td>
       <td><%= tattoo.description %></td>
       <td><%= tattoo.user.username %></td>
       <td><%= link_to 'Show', tattoo%></td>
       <% if tattoo.can_edit?(current_user) %>
       <td><%= link_to 'Edit', edit_tattoo_path(tattoo)%></td>
       <td><%= link_to 'Destroy', tattoo, method: :delete, data: { confirm: 'Are you sure?' }%></td>
       <% end %>
     </tr>
   <% end %>
 </tbody>
</table>

<br>


