<section id="splash">

<section id="splash-tats">
   <% @tattoos.each do |tattoo| %>
   <section class="card">
        <section id="title">
       <p><%= tattoo.title %></p>
       </section>
       <section id="image">
       <p><%= image_tag(tattoo.images[0], width: 250, height: 160) if tattoo.images.attached? %></p>
       </section>
       <section id=card-buttons>
       <%= link_to 'INFO', tattoo%>
       <% if tattoo.can_edit?(current_user) %>
       <%= link_to 'EDIT', edit_tattoo_path(tattoo)%>
       <%= link_to 'DELETE', tattoo, method: :delete, data: { confirm: 'Are you sure?' }%>
       <% end %>
       </section>
       </section>
   <% end %>
   </section>
</section>
