<!DOCTYPE html>
<html>
  <head>
    <title>Tattoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render "layouts/nav"%>

  <section class="page-content">
      <%= yield %>
  </section>
    <aside id=alerts>
    <p class="alert"><%= alert %></p>
    <p id="notice"><%= notice %></p>
  <aside>
  </body>
</html>

